header {
    background-color: #e8aaaa;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 300px;
    max-height: 70px;
}

.header-right {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    color: rgb(41, 17, 226);
}

.address {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.phone,
.store {
    font-weight: bold;
    margin-right: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    width: 300px;
}

.search-bar .search-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar .search-button:hover {
    background-color: rgb(41, 17, 226);
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  footer {
    background-color: #8c6eee;
    color: #fff;
    padding: 30px 0;
    font-family: Arial, sans-serif;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .about-section,
  .contact-section,
  .social-section {
    flex-basis: 33%;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin: 5px 0;
  }

  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s;
  }

  .social-icons a:hover {
    transform: translateY(-5px);
  }